<div class="container">
  <md-card *ngIf="student" class="example-card">
    <md-card-header *ngIf="!edit">
      <md-card-title class="title">{{student.fullName | uppercase}} </md-card-title> 
    </md-card-header>
    <img *ngIf="!edit" md-card-image [src]="student.photo"> 
    <md-card-content>
      <div *ngIf="!edit">
        <div *ngFor="let grade of student.grades; let i = index">
          <span>Nota {{i+1}}: {{ grade }}</span>
        </div>
      </div>
      <div *ngIf="edit">
        <app-form [student]="student" (updateButton)="updateReciber($event)" ></app-form>
      </div>
    </md-card-content>
    <md-card-actions>
      <button *ngIf="!edit" md-button (click)="goBack()" >Back</button>
      <button *ngIf="!edit" md-button (click)="toEdit()" >Edit</button>
      <button *ngIf="!edit" md-button (click)="openSnackbar(student)" >Delete</button>
    </md-card-actions>
  </md-card>
</div>
